#text_div {
  position: absolute;
  align-items: center;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 10px;
}
.center_all {
  color:beige;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  font-size:xx-large;
}
.hover_text{
  color: bisque;
 
  font-size:xx-small;
  vertical-align: baseline;
  bottom: 0;
  position: fixed;

}



